flask
flask-cors
flask-sqlalchemy
flask-jwt-extended
mysql-connector-python
imagekitio
python-dotenv
bcrypt
flask-bcrypt
opencv-python-headless
gunicorn
numpy
pandas
scikit-learn
joblib
tensorflow
tensorflow-hub